name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        working-directory: ./client
        run: flutter pub get

      - name: Generate Code
        working-directory: ./client
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Enable Web
        run: flutter config --enable-web

      - name: Build Web
        working-directory: ./client
        run: flutter build web --release --base-href "/maverick_arcade/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./client/build/web

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
